name: test
on:
  pull_request:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: test
        uses: "./"
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          context: ./testdata
          file: ./testdata/Dockerfile
