name: test
on:
  pull_request:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: test
        uses: "./"
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          context: ./testdata
          file: ./testdata/Dockerfile
